#miparrafo { color: red; font-family: "Verdana"; }
li > a { color: rgb(12, 90, 31) !important }
.button { background-color: blueviolet; }
li > a { color: yellow }
.button:hover { background-color: chocolate; }